html,
body {
    width: 100%;
    height: 100%;
}

#chess-moves,
.app {
    width: 100%;
    height: 100%;
    position: relative;
}

header {
    box-sizing: border-box;
    margin: 0 auto;
}

header h1 {
    font-size: 32px;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

header p {
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
}

.toggle {
    width: auto !important;
}

.board {
    display: block;
    margin: 0 auto;
}

@media (orientation: landscape) {
    header {
        width: 100vh;
        padding: 10vh 10vh 0;
    }
    .board {
        width: 100vh;
        height: 100vh;
    }
}

@media (orientation: portrait) {
    header {
        width: 100vw;
        padding: 10vw 10vw 0;
    }
    .board {
        width: 100vw;
        height: 100vw;
    }
}

.row {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
}

.tile {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 9.9%;
    height: 100%;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
}

.row:nth-of-type(2) .tile:nth-of-type(2),
.row:nth-of-type(2) .tile:nth-of-type(4),
.row:nth-of-type(2) .tile:nth-of-type(6),
.row:nth-of-type(2) .tile:nth-of-type(8),

.row:nth-of-type(3) .tile:nth-of-type(3),
.row:nth-of-type(3) .tile:nth-of-type(5),
.row:nth-of-type(3) .tile:nth-of-type(7),
.row:nth-of-type(3) .tile:nth-of-type(9),

.row:nth-of-type(4) .tile:nth-of-type(2),
.row:nth-of-type(4) .tile:nth-of-type(4),
.row:nth-of-type(4) .tile:nth-of-type(6),
.row:nth-of-type(4) .tile:nth-of-type(8),

.row:nth-of-type(5) .tile:nth-of-type(3),
.row:nth-of-type(5) .tile:nth-of-type(5),
.row:nth-of-type(5) .tile:nth-of-type(7),
.row:nth-of-type(5) .tile:nth-of-type(9),

.row:nth-of-type(6) .tile:nth-of-type(2),
.row:nth-of-type(6) .tile:nth-of-type(4),
.row:nth-of-type(6) .tile:nth-of-type(6),
.row:nth-of-type(6) .tile:nth-of-type(8),

.row:nth-of-type(7) .tile:nth-of-type(3),
.row:nth-of-type(7) .tile:nth-of-type(5),
.row:nth-of-type(7) .tile:nth-of-type(7),
.row:nth-of-type(7) .tile:nth-of-type(9),

.row:nth-of-type(8) .tile:nth-of-type(2),
.row:nth-of-type(8) .tile:nth-of-type(4),
.row:nth-of-type(8) .tile:nth-of-type(6),
.row:nth-of-type(8) .tile:nth-of-type(8),

.row:nth-of-type(9) .tile:nth-of-type(3),
.row:nth-of-type(9) .tile:nth-of-type(5),
.row:nth-of-type(9) .tile:nth-of-type(7),
.row:nth-of-type(9) .tile:nth-of-type(9)
{
    background-color: #fdce9c;
}

.row:nth-of-type(2) .tile:nth-of-type(3),
.row:nth-of-type(2) .tile:nth-of-type(5),
.row:nth-of-type(2) .tile:nth-of-type(7),
.row:nth-of-type(2) .tile:nth-of-type(9),

.row:nth-of-type(3) .tile:nth-of-type(2),
.row:nth-of-type(3) .tile:nth-of-type(4),
.row:nth-of-type(3) .tile:nth-of-type(6),
.row:nth-of-type(3) .tile:nth-of-type(8),

.row:nth-of-type(4) .tile:nth-of-type(3),
.row:nth-of-type(4) .tile:nth-of-type(5),
.row:nth-of-type(4) .tile:nth-of-type(7),
.row:nth-of-type(4) .tile:nth-of-type(9),

.row:nth-of-type(5) .tile:nth-of-type(2),
.row:nth-of-type(5) .tile:nth-of-type(4),
.row:nth-of-type(5) .tile:nth-of-type(6),
.row:nth-of-type(5) .tile:nth-of-type(8),

.row:nth-of-type(6) .tile:nth-of-type(3),
.row:nth-of-type(6) .tile:nth-of-type(5),
.row:nth-of-type(6) .tile:nth-of-type(7),
.row:nth-of-type(6) .tile:nth-of-type(9),

.row:nth-of-type(7) .tile:nth-of-type(2),
.row:nth-of-type(7) .tile:nth-of-type(4),
.row:nth-of-type(7) .tile:nth-of-type(6),
.row:nth-of-type(7) .tile:nth-of-type(8),

.row:nth-of-type(8) .tile:nth-of-type(3),
.row:nth-of-type(8) .tile:nth-of-type(5),
.row:nth-of-type(8) .tile:nth-of-type(7),
.row:nth-of-type(8) .tile:nth-of-type(9),

.row:nth-of-type(9) .tile:nth-of-type(2),
.row:nth-of-type(9) .tile:nth-of-type(4),
.row:nth-of-type(9) .tile:nth-of-type(6),
.row:nth-of-type(9) .tile:nth-of-type(8)
{
    background-color: #d38a43;
}

.tile.highlight {
    background-color: mediumturquoise !important;
}

.legend-row {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 0 10%;
}

.legend-tile {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 9.9%;
    height: 100%;
    border-left: none;
    border-bottom: none;
    position: relative;
}

.legend-row .legend-tile {
    width: 12.37%;
    text-align: center;
    line-height: 100%;
}

.legend-row:first-of-type .legend-tile {
    border-bottom: solid 1px black;
}

.row .legend-tile:last-of-type {
    border-left: solid 1px black;
}

.row .legend-tile:first-of-type .legend {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 10px;
}

.row .legend-tile:last-of-type .legend {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 10px;
}

.legend-row:first-of-type .legend-tile .legend {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

.legend-row:last-of-type .legend-tile .legend {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

.piece {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
}

.knight.piece {
    background-image: url(/images/knight.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}