html,
body {
    width: 100%;
    height: 100%;
}

#chess-moves,
.app {
    width: 100%;
    height: 100%;
    position: relative;
}

.board {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.row {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
}

.legend.row {
    padding: 0 10%;
}

.tile {
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border: solid 1px black;
    background-color: red;
}

.legend.tile {
    border: none;
    background-color: transparent;
}

.legend.row .legend.tile {
    width: 12.5%;
    text-align: center;
    line-height: 100%;
}

.piece {
    width: 100%;
    height: 100%;
}

.knight.piece {

}